<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/carl">Carl</a></li>
	        		<li><a href="/anna">Anna</a></li>
	        	</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lundin.carl@gmail.com">email</a></li>
	        		<li><a href="https://smolund.net">smolund.net</a></li>
				</ul>
			</footer>
		</body>
	</html>
